{{define "header"}}
{{range .Comments}}{{.}}
{{end -}}
package {{.Package}}

import (
{{range .Imports}}{{.Name}} "{{.Path}}"
    {{if .IsInterface}}mock_{{.TailName}} "{{.Path}}/mock"{{end}}
{{end}}

"github.com/golang/mock/gomock"
)
{{end}}
